body {
    background-color: black;
}

.toolbar {
    margin: auto;
    top: 0;
    width: 100%;
    background: black;
    margin-bottom: 40px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

  li {
    float: left;
    position: relative;
  }


  #active {
    display: block;
    background-color: green;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: bold;
    padding: 20px;
    position: relative;
  }

  .box {
    padding: 35px;
    position: relative;
    background:black;
    margin-bottom: 20px;
  }

  .paragraph {
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    font-style: italic;
    font-size: 20px;
    color: darkgreen;
    line-height: 1.4;
  }

  .box2 {
    padding: 35px;
    position: relative;
    background:black;
    margin-bottom: 20px;
  }

  .box3 {
    padding: 35px;
    position: relative;
    background:black;
    margin-bottom: 20px;
  }

  #goal, #score, #wins, #losses {
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    font-style: italic;
    font-size: 20px;
    color: darkgreen;
    line-height: 1.4;
  }